<html>

	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	
	<body>
		<div class = 'pane'>
			<div class = 'header'>
			<h1>Parameters</h1>
		</div>
		
		<div class = 'Header'>
			<span class = 'ParameterHeader'><p>Block Name    ParameterName    Parameter Value</p></span>
		</div>
		
		{% for i in parameters %}
		<div class = 'Data_Table'>
			<span class = 'Parameter'><p>{{i.blockname}}    {{i.paramname}}    {{i.paramvalue}}</p></span>
		</div>{% endfor %}
	</body>
	
</html>