body {
    font-family: sans-serif;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
}

#paramtable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 12px;
  <!table-layout: fixed;>
}

#paramtable table, tbody, thead {
  display: block;
}

#paramtable tbody, thead {
  overflow-y: auto;
}

#paramtable tbody {
	<!height: 300px;>
}

#paramtable thead {
  background: #004bbc;
  color:#ffffff;
}

#paramtable tbody tr:nth-child(even){background-color: #f2f2f2;}

#paramtable tbody tr:hover {background-color: #ddd;}

<!#paramtable th {
  padding: 2px;
  text-align: left;
  width:220px;
}>

#paramtable td, th {
  padding: 2px;
  text-align: left;
  <!width:33%;>
}

#myInput0 {
  width: 50%; /* Full-width */
  font-size: 9px; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 0px; /* Add some space below the input */
}

#myInput1 {
  width: 50%; /* Full-width */
  font-size: 9px; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 0px; /* Add some space below the input */
}

#myInput2 {
  width: 50%; /* Full-width */
  font-size: 9px; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 0px; /* Add some space below the input */
}
