<html>
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<script type="text/javascript" src="/static/jscripts.js"></script>

<head>
</head>

<body>
<textarea id="myTextarea" cols="25" rows="1" readonly></textarea>
<table id="paramtable">
  <thead>
	  <tr>
		<th><input type="text" id="myInput0" onkeyup="Filter()" placeholder="Block Name.."></th>
		<th><input type="text" id="myInput1" onkeyup="Filter()" placeholder="Parameter Name.."></th>
		<th><input type="text" id="myInput2" onkeyup="Filter()" placeholder="Parameter Value.."></th>
	  </tr>
  </thead>
  <tbody>
	  {% for i in parameters %}
	  <tr onclick="getID(this)">
		<td>{{i.blockname}}</td>
		<td>{{i.paramname}}</td>
		<td>{{i.paramvalue}}</td>
    <td><input type="checkbox" name="checkr" value="Get Checkbox status"></td>
  </tr>{% endfor %}
  </tbody>
</table>
<input type="button" id="btnStatus" value="Get Checkbox status">

</body>
</html>
